@import url("../font/font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main-layout {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    min-height: 100svh;
    transition: all 0.75s;
    color: #fff;
}

textarea:focus,
input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
